:root {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #232323;
  color: #B9B9B9;
  font-family: sans-serif;
  user-select: none;
  cursor: default;
}
/* :root::-webkit-scrollbar {
  display: none;
} */

#stage {
  position: absolute;
  overflow: visible;
  background-color: #454545;/* #262626 */
}

.konvajs-content, canvas {
  /* width: calc(100vw - 16px) !important;
  height: auto !important;
  max-height: calc(100vh - 16px - 1.2em);
  object-fit: contain; */

  /* image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; */
}

#userfeedback {
  color: '8A8A8A';
}
