:root {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #232323;
  color: #B9B9B9;
  font-family: sans-serif;
  user-select: none;
  cursor: default;
}

#stage {
  background-color: grey;/* #262626 */
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

canvas#stage {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#userfeedback {
  color: '8A8A8A';
}
